<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script> -->
</head>

<body>
    <div class="app">
        <form action="http://127.0.0.1:8080/admin_login" method="POST">
            账号：<input type="username" name="username" id="username"><br>
            密码：<input type="password" name="password" id="password"><br>
            <input type="submit" name="submit" id="submit" value="登录">
            <input type="reset" name="reset" id="reset" value="重置">
        </form>
        <h1>{{xxx}}</h1>
    </div>

    <script>
        // function f(){
        //     sessionStorage.setItem('a', '123123123');
        //     var data = sessionStorage.getItem('a');
        //     document.getElementById("x").innerHTML=data
        // }
    </script>

</body>

</html>